
.footer-container {
    background-color: var(--color-4);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8% 0% 0.8% 0%;
}

.footer-text {
    font-family: var(--second-font);
    font-weight: 300;
    color: var(--color-white);
}

@media (min-width: 0px) and (max-width: 850px) {
    .footer-content {
        padding: 3% 2% 3% 2%;
        text-align: center;
    }
}