/* SECTION 1 */

.section1-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.800)), url(../images/lillybackground-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1%;
    width: 100%;
    height: 100vh;
    /* mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 60%, rgba(0,0,0, 0.01) 100%); */
}

.section1-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 9% 15% 2% 15%;
}

.section1-images {
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}

.section1-images > .images-image {
    width: 20vw;
    border: 5px solid var(--color-4);
    border-radius: 10rem;
    transition: .4s;
}

.section1-images > .images-image:hover {
    transform: rotate(-5deg);
}

.images-title {
    font-family: var(--primary-font);
    font-weight: normal;
    font-size: 2rem;
    margin: 6% 0% 0% 0%;
}

.images-desc{
    margin: 2% 0% 0% 0%;
}

.section1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    text-align: center;
    padding: 5% 0% 0% 0%;
}

.section1-text > h1 {
    font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: normal;
    text-transform: uppercase;
    margin: 0% 0% 5% 0%;

}

.section1-text > p {
    font-size: 1.2rem;
    font-weight: 200;

}

/* SECTION 2 */

.section2-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.800)), url(../images/lillybackground-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1%;
    /* mask-image: linear-gradient(to top, rgb(0, 0, 0) 70%, rgba(0,0,0, 0.01) 100%); */
}

.section2-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding: 8% 15% 8% 15%;
}

.section2-images > img {
    width: 30vw;
    transition: .4s;
}

.section2-images > img:hover {
    transform: scale(1.05);
    transform: rotate(1deg);
}

.section2-text {
    margin: 5% 0% 0% 0%;
    text-align: center;
    color: var(--color-white);
}

.section2-text > h2 {
    font-family: var(--primary-font);
    font-weight: normal;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 0% 0% 5% 0%;
}

.section2-text > p {
    font-weight: 200;
    font-size: 1.1rem;
    margin: 0% 0% 8% 0%;
}

.section2-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-list-content {
    padding: 0% 20% 0% 20%;
}

.buttons-content-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--color-4);
    padding: 5% 10% 5% 10%;
    border-radius: 1rem;
    margin: 0% 0% 10% 0%;
    transition: .4s;

}

.buttons-content-link:hover {
    background-color: var(--color-3);
    padding-left: 25%;
}

/* SECTION 3 */

.section3-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.800)), url(../images/lillybackground-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1%;
}

.section3-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8% 10% 8% 10%;
}

.section3-content-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
    color: var(--color-white);
}

.section3-content-main > img { 
    width: 18vw;
    border: 5px solid var(--color-4);
    border-radius: 10rem;
    transition: .4s;
}

.section3-content-main > img:hover {
    transform: rotate(-5deg);
}

.section3-content-main > h2 {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 12% 0% 20% 0%;
}

.section3-content-info {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.content-info1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8rem;
}

.content-info1 > img {
    width: 35vw;
    transition: .4s;
}

.content-info1 > img:hover {
    transform: rotate(5deg);
}

.content-info1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-white);
    text-align: center;
}

.content-info1-text > h2 {
    font-size: 2rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
    margin: 0% 0% 5% 0%;
}

.content-info1-text > p {
    font-size: 1.1rem;
    font-weight: 200;
}

.content-info2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color: var(--color-white);
    gap: 8rem;
}

.content-info2 > img {
    width: 35vw;
}

.info-image {
    transition: .4s;
}

.info-image:hover {
    transform: rotate(-5deg);
}

.content-info2-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content-info2-text > h2 {
    font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: normal;
    text-transform: uppercase;
    margin: 0% 0% 10% 0%;
}

.content-info2-text > p {
    font-size: 1.1rem;
    font-weight: 200;
}

/* RESPONSIVE */

@media (min-width: 0px) and (max-width: 850px) {

    /* SECTION 1 */

    .section1-container {
        height: 100vh;
        mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 82%, rgba(0,0,0, 0.01) 100%);
    }

    .section1-content {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding: 40% 6% 2% 6%;
    }

    .section1-images > .images-image {
        width: 30vw;
    }

    .section1-text > h1 {
        font-size: 1.5rem;
    }

    .section1-text > p {
        font-size: 1rem;
    }

    .images-title {
        font-size: 1.5rem;
    }

    /* SECTION 2 */

    .section2-content {
        display: flex;
        flex-direction: column;
        padding: 20% 6% 8% 6%;
        gap: 4rem;
    }

    .section2-images > img {
        width: 75vw;
    }

    .section2-text > h2 {
        font-size: 1.5rem;
        margin: 0% 0% 12% 0%;
    }

    .section2-text > p {
        font-size: 1.05rem;
        margin: 0% 0% 15% 0%;
    }

    .buttons-list-content {
        padding: 0% 10% 0% 10%;
    }

    /* SECTION 3 */

    .section3-content {
        padding: 20% 10% 15% 10%;
    }

    .section3-content-main > img {
        width: 30vw;
    }

    .section3-content-main > h2 {
        font-size: 1.5rem;
        margin: 12% 0% 30% 0%;
    }

    .section3-content-info {
        gap: 6rem;
    }

    .content-info1 {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .content-info1 > img {
        width: 70vw;
    }

    .content-info1-text > h2 {
        font-size: 1.5rem;
        margin: 0% 0% 12% 0%;
    }

    .content-info2 {
        display: flex;
        flex-direction: column-reverse;
        gap: 5rem;
    }

    .content-info2 > img {
        width: 70vw;
    }

    .content-info2-text > h2 {
        font-size: 1.5rem;
        margin: 0% 0% 15% 0%;
    }
}